{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="module">
            {% for field in form %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="help"
                         {% if field.id_for_label %}id="{{ field.id_for_label }}_helptext"{% endif %}>
                        <div>{{ field.help_text|safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="submit-row">
            <input type="submit"
                   value="{% translate 'Delete Events' %}"
                   class="default"
                   name="_save">
            {% url opts|admin_urlname:'changelist' as changelist_url %}
            <a role="button"
               href="{% add_preserved_filters changelist_url %}"
               class="closelink">{% translate 'Cancel' %}</a>
        </div>
    </form>
{% endblock %}
